#
# Confluent consumer environment values
#

# TOPIC: kafka topic to listen to.
# example: TOPIC=CUSTOMER_V1
TOPIC=

#
# Confluent producer environment values
#

# SCHEMAS: location of a java properties file containing <subject=schema_address.avsc> values. Must start with @.
# example: SCHEMAS=@./src/test/resources/confluent/TestSchemas.properties
SCHEMAS=

# KAFKA_USERNAME: Kafka Avro registry user name.
# example: KAFKA_USERNAME=admin
KAFKA_USERNAME=

# KAFKA_PASSWORD: Kafka Avro registry user password.
# example: KAFKA_PASSWORD=admin
KAFKA_PASSWORD=

# EVENT: location of a JSON file containing the event to send. The event must be conformal to the schema used to identify the event content. Must start with @.
# example: EVENT=@/Users/someUser/someResources/avro-sample-event.json
EVENT=

#
# Confluent producer and consumer common values
#

# REGISTRY_URL: The Avro registry URL.
# example: REGISTRY_URL=https://localhost:8084
REGISTRY_URL=https://localhost:8084

# KAFKA_SECURITY_PROPERTIES: The location of a java properties file containing all of the security information needed to communicate with Kafka
# example: KAFKA_SECURITY_PROPERTIES=/Users/someUser/someResources/KafkaSecurity.properties
KAFKA_SECURITY_PROPERTIES=

# BINARY_EMISSION: Boolean value (true or false), indicates the message emission format
# example: BINARY_EMISSION=true
BINARY_EMISSION=true
